{% extends 'base.html.twig' %}

{% block title %}Silex Boilerplate{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

{% include 'flash.html.twig' %}

<p>Hello world!</p>

{% endblock %}

{% block javascripts %}
<script src="/js/app.js"></script>
{% endblock %}